body{
    font-family :'Artegra Sans', Arial, Helvetica, sans-serif!important;
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-cinza);
    overflow-x: hidden;
}
:root {
    --cor-violeta: #9E65EF;
    --cor-azul: #4443F0;
    --cor-azul-medio: #1E4E8A;
    --cor-azulclaro: #02C2F4;
    --cor-verde: #00E584;
    --cor-cinza: #969696;
    --cor-cinza-medio: #303030;
    --cor-cinza-escuro: #161616;
    --cor-vermelho: red;
    --cor-branco: #FFF;
    --cor-preto: #000;
    --linear-gradient: linear-gradient(90deg, var(--cor-violeta) 0%, var(--cor-azul) 49.72%, var(--cor-verde) 100%);
    --linear-gradient2: linear-gradient(90deg, #1E4E8A 0%, #E8C146 100%);
    --modal-over: #4343ef42;
}
.rounded {
    border-radius: 8px !important;
}
input[type="radio"]::before {
    box-shadow: inset 1em 1em #08d291 !important;
}
h5.toptitulo {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.005em;
}
h1.titulo {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.005em;
}
h6.subtitulo {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -0.005em;
}
textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    box-shadow: inset 0 0px 0 #ddd;
    outline: 0;
}
li {
    list-style: none;
}
.accordion-flush .accordion-item .accordion-button {
    box-shadow: inset 0 0px 0 #ddd;
    outline: 0;
}
/* COLORS */
.gradient-life{
    background: var(--linear-gradient);
}
.txt-gray{
    color: var(--cor-cinza);
}
.bg-gray{
    background-color: var(--cor-cinza);
}
.txt-light{
    color: var(--cor-branco);
}
.txt-gradient-life{
    color: var(--linear-gradient);
}
/* STRUCTURE */
.va-middle {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    text-align: center;
    -webkit-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
    z-index: 2;
}
.btn-gradiente-life{
    background: var(--linear-gradient);
    border: 0;
    padding: 10px 20px;
    padding-top: 12px;
    color: var(--cor-branco);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}
.btn-gradiente-life:hover{
    color: var(--cor-branco);
}
.btn-outline-life{
    background: transparent;
    border: 1px solid var(--cor-cinza);
    padding: 10px 20px;
    padding-top: 12px;
    color: var(--cor-cinza);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}
.btn-BtnClose {
    width: 12px;
    height: 12px;
    background-image: url('../images/close.png');
    background-size: contain;
    position: absolute;
    right: 0;
    z-index: 10;
    border: none;
    background-color: transparent;
}
.btn-Return {
    width: 21px;
    height: 21px;
    background-image: url('../images/return.png');
    background-size: contain;
    position: absolute;
    left: 0;
    z-index: 10;
    border: none;
    background-color: transparent;
}
.btn-Search {
    width: 23px;
    height: 23px;
    background-image: url('../images/search_white.png');
    background-size: contain;
    position: absolute;
    right: 0;
    z-index: 10;
    border: none;
    background-color: transparent;
}
.btn-outline-life:hover{
    color: var(--cor-cinza);
}
.title-gradient{
    font-weight: bold;
    margin: 25px 0px;
    background: var(--cor-violeta);
    background: -webkit-linear-gradient(to right, var(--cor-violeta) 0%, var(--cor-azul) 50%, var(--cor-verde) 100%);
    background: -moz-linear-gradient(to right, var(--cor-violeta) 0%, var(--cor-azul) 50%, var(--cor-verde) 100%);
    background: linear-gradient(to right, var(--cor-violeta) 0%, var(--cor-azul) 50%, var(--cor-verde) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.input-life{
    background-color: transparent;
    color: var(--cor-cinza);
    border: 1px solid var(--cor-cinza);
    margin-bottom: 15px;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 12px 8px 8px 8px;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0.205em;
    text-align: center;
}
.input-validation {
    border: none;
    border-bottom: 1px solid var(--cor-cinza);
    border-radius: 0;
}
.form-label{
    font-size: 13px;
    color: var(--cor-cinza);
}
.checkbox-life {
    background: var(--linear-gradient);
    position: relative;
}
.checkbox-life:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: var(--cor-preto);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.checkbox-life:checked:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    background-image:url('../images/checked.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    z-index: 1;
}
.checkbox-life:checked {
    background: var(--linear-gradient);
    border: none;
}
.checkbox-life:checked[type=checkbox] {
    background-image: none;
    background: var(--linear-gradient);
    position: relative;
}
/* input radio LIFE */
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--cor-preto);
    margin: 0;
    font: inherit;
    color: var(--cor-branco);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--cor-violeta);
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
}
/* input radio LIFE */
input[type="radio"]::before {
    content: "";
    width: 0.52em;
    height: 0.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--cor-branco);
    background-color: CanvasText;
}
/* input radio LIFE */
input[type="radio"]:checked::before {
    transform: scale(1);
}
.form-control:focus {
    color: var(--cor-cinza);
    background-color: transparent;
    border-color: var(--cor-cinza);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(58, 58, 58, 0.25);
}
.cont-middle {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    text-align: center;
    -webkit-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
}
.cont {
    margin: auto;
    width: 90%;
    text-align: center;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

#tabs .owl-dots {
    display: none !important;
}

#tabs .interaction .BtnIcon_favorite {
    width: 21px;
    height: 19px;
    background-image: url('../images/icon_coracao.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
#tabs .interaction .BtnIcon_notification {
    width: 21px;
    height: 19px;
    background-image: url('../images/icon_sino.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
#tabs .interaction .BtnIcon_notification.active {
    background-image: url('../images/icon_sino_active.png');
}
#tabs .interaction .BtnIcon_favorite.active {
    background-image: url('../images/icon_coracao_active.png');
}
#tabs button{
    padding: 7px 11px;
    background-color: transparent;
    border: 1px solid var(--cor-cinza);
    border-radius: 5px;
}
#tabs button {
    font-size: 13px;
}
#tabs button.active {
    background: var(--linear-gradient);
    border-color: #0000009e;
}
#tabs button {
    background-color: transparent;
    color: var(--cor-cinza);
}
#tabs .tab-pane p {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -0.005em;
    text-align: left;
    color: var(--cor-cinza);
    margin: 0;
    padding: 0;
}

.searchform {
    background-color: var(--cor-preto);
}
.searchform input {
    background-color: var(--cor-preto);
    color: var(--cor-cinza);
    border: none;
}
.searchform button {
    border: none !important;
}
.pular {
    color: var(--cor-cinza);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.005em;
    text-align: center;
}
/* Página - Apresentação */
#img-logo-slogan{
    width: 250px;
    max-width: 90%;
    margin-bottom: 50px;
}
#btns-bottom{
    position: absolute;
    bottom: 10%;
    left: 0;
    text-align: center;
    width: 100%;
}
/* Página - Cadastro */
#termos p {
    color: var(--cor-cinza);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -0.005em;
    margin-left: 20px !important;
}
#termos p span {
    font-weight: normal;
}
.sub-text{
    font-size: 10px;
}
.PasswordlengthBG {
    opacity: 0.3;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    transition: opacity 2s ease;
}
.PasswordlengthBG.active {
    background: linear-gradient(90deg, #9E65EF 0%, #4443F0 49.72%, #00E584 100%) !important;
    opacity: 1;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    transition: opacity 2s ease;
}
/* Página - Login */
#logo-bottom{
    position: relative;
    bottom: 10%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 2;
}
#logo-bottom > img{
    width: 100px;
    max-width: 80%;
}
.LoginAvatarCircle{
    background-image: var(--linear-gradient);
    width: 126px;
    height: 126px;
    border-radius: 200px;
    padding: 3px;
}
.LoginAvatar {
    background-color: #fff;
    border-radius: 200px;
    border: 5px solid black;
}
/* Página - Autenticação SMS */
#resend-cod{
    border: 0;
    background-color: transparent;
    padding: 0;
    opacity: 0.2;
}
#resend-cod:hover{
    color: var(--cor-cinza);
}
.input-resend-cod{
    border: 0;
    border-bottom: 1px solid var(--cor-cinza);
    border-radius: 0!important;
    font-size: 30px;
    font-weight: bold;
}
.input-resend-cod::placeholder{
    font-size: 13px;
    font-weight: 400;
}
.input-resend-cod:focus{
    box-shadow: 0 0 0 0.25rem rgb(58 58 58 / 0%)!important;
}
.input-resend-cod::-webkit-inner-spin-button, .input-resend-cod::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
#timer{
    height: 20px;
}
/* Modal - Default */
.modal-backdrop {
    background-color: var(--modal-over) !important;
}
/* Modal - Notificações Gerais */
#ModalNotificacoes .modal-header, #ModalNotificacoes .modal-footer {
    border: none;
}
#ModalNotificacoes .modal-content {
    background-color: var(--cor-preto);
}
.RadiusBorderGradient {
    width: 100%;
    position: relative;
    margin: auto;
    border: double 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(var(--cor-preto), var(--cor-preto)), radial-gradient(circle at top left, var(--cor-violeta), var(--cor-azul), var(--cor-verde));
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
}
#ModalNotificacoes .modal-footer {
    background-color: var(--cor-preto);
    margin-bottom: -1px;
}
/* Modal - Agradecimento */
#ModalAgradecimento .bgmodal {
    background-image: url('../images/modal_agradecimento.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
#ModalAgradecimento .modal-header, #ModalAgradecimento .modal-footer {
    border: none;
}
#ModalAgradecimento .modal-content {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
}
#ModalAgradecimento .modal-footer {
    background-color: var(--cor-preto);
    margin-bottom: -1px;
}
/* Modal - Recompensa */
#ModalRecompensa h2 {
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: -0.005em;
    text-align: center;
}
#ModalRecompensa .bgmodal {
    background-image: url('../images/modal_recompensa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
#ModalRecompensa .modal-header, #ModalRecompensa .modal-footer {
    border: none;
}
#ModalRecompensa .modal-content {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
}
#ModalRecompensa .modal-footer {
    background-color: var(--cor-preto);
    margin-bottom: -1px;
}
/* Modal - Termos e Condições / Política de Privacidade*/
#ModalTermosePolitica .modal-header, #ModalTermosePolitica .modal-footer {
    border: none;
}
#ModalTermosePolitica .modal-content {
    background-image: url('../images/termos_politica_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    background-color: transparent;
}
#ModalTermosePolitica .modal-body {
    max-height: 50vh;
}
#ModalTermosePolitica .modal-footer {
    background-color: var(--cor-preto);
    margin-bottom: -1px;
}
/* Modal Congelamento */
#ModalCongelamento .bgmodal {
    background-image: url('../images/modal_congelamento.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
#ModalCongelamento .modal-header, #ModalCongelamento .modal-footer {
    border: none;
}
#ModalCongelamento .modal-content {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
}
#ModalCongelamento .modal-footer {
    background-color: var(--cor-preto);
    margin-bottom: -1px;
}
#ModalCongelamento h1 {
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: -0.005em;
}
#ModalCongelamento h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.005em;
}
#ModalCongelamento p {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.005em;
    text-align: center;
}
/* Modal Congelado */
#ModalCongelado .bgmodal {
    background-image: url('../images/modal_congelado.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
#ModalCongelado .modal-header, #ModalCongelado .modal-footer {
    border: none;
}
#ModalCongelado .modal-content {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
}
#ModalCongelado .modal-footer {
    background-color: var(--cor-preto);
    margin-bottom: -1px;
}
#ModalCongelado h1 {
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: -0.005em;
}
#ModalCongelado h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.005em;
}
#ModalCongelado p {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.005em;
    text-align: center;
}
/* Modal NFT */
#ModalNFT .modal-content {
    border: none;
    background-color: var(--cor-preto);
    border-radius: 8px;
    overflow: hidden;
}
#ModalNFT .modal-header, #ModalNFT .modal-footer {
    border: none;
}
#ModalNFT .modal-header a {
    color: var(--cor-cinza);
    text-decoration: none;
}
/*headerBG h4 default */
.headerBG {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    left: 0;
    top: 0;
    background-image: url('../images/enquetes_lista_header.png');
}
/* MENU LEFT */
#mainNav {
    z-index: 9999;
    position: absolute;
}
.HeaderUser {
    max-height: 147px;
    background-image: url('../images/header_user_bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.HeaderUser p {
    margin: 0;
    padding: 0;
}
.HeaderUser p {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: left;
}
.HeaderUser p span{
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: -0.005em;
    text-align: left;
}
.AvatarCircle{
    background-image: var(--linear-gradient);
    width: 95px;
    height: 95px;
    border-radius: 200px;
    padding: 3px;
    border: 4px solid black;
}
.useravatar {
    background-color: #fff;
    border-radius: 200px;
}
.border_menu {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -7.55%;
    background-image: url('../images/menu_leftBG.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
}
.border_menu:after {
    content: "";
    position: absolute;
    top: 0;
    width: 17%;
    height: 100%;
    z-index: -1;
    background-color: var(--cor-violeta);
}
.sidenav {
    height: 100%;
    width: 325px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    background-image: url('../images/bg-black-life-token.png');
    transition: 0.5s;
    margin-left: 0px;
}
.sidenav ul li a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    flex: 1;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 2.1rem;
    right: -22px;
    border: none;
    z-index: 10;
    font-size: 14px;
    color: #fff;
}
.sidenav svg {
    width: auto;
    height: auto;
}
.sidenav .beta {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    position: absolute;
    bottom: 15vh;
}
.BtnMenu {
    width: 22px;
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
}
.BtnMenu .line {
    fill: none;
    stroke: white;
    stroke-width: 10;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.BtnMenu .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 10;
}
.BtnMenu .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 10;
}
.BtnMenu .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 10;
}
.BtnMenu.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 10;
}
.BtnMenu.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 10;
}
.BtnMenu.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 10;
}
/* MENU FOOTER */
#MenuFooter {
    background-color: var(--cor-preto);
    border-top: 1px solid #ffffff25;
    bottom: 0;
    z-index: 999999;
}
#MenuFooter ul li a {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: -0.005em;
    text-align: center;
    text-decoration: none;
    color: var(--cor-cinza);
}
#MenuFooter .icon img {
    max-height: 24px;
    height: 100vh;
}
/* Dashboard */
.dashboard {
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
}
.dashboard .TokensDisponiveis h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.005em;
    text-align: left;
}
.dashboard .TokensDisponiveis h1 span {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: left;
    margin: 0;
}
.dashboard .TokensDisponiveis h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.005em;
    text-align: left;
    margin: 0;
}
.dashboard .TokensDisponiveis h2 span {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: -0.005em;
    text-align: left;
}
.dashboard .TokensDisponiveis h6 {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: -0.005em;
    text-align: left;
    margin: 0;
}
.dashboard .TokensDisponiveis button {
    border: 1px solid var(--cor-branco);
    border-radius: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -0.005em;
    text-align: center;
    color: var(--cor-branco);
    padding-top: 8px;
}
.dashboard .ondequeromedivertir {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.dashboard .ondequeromedivertir .avatar img {
    margin-bottom: -20px;
    max-width: 70px;
}
.dashboard .ondequeromedivertir p {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -0.005em;
    text-align: center;
    margin: 0;
    color: var(--cor-cinza);
}
.dashboard #OndeQuandoTabs {
    position: relative;
    z-index: 1;
}
.dashboard #OndeQuandoTabs .nav {
    flex-wrap: initial;
}
.dashboard #OndeQuandoTabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dashboard #OndeQuandoTabs ul li {
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}
.dashboard #OndeQuandoTabs ul li {
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: transparent;
    position: relative;
    max-height: 54px;
    overflow: hidden;
}
.dashboard #OndeQuandoTabs li.tab1 {
    background-image: url('../images/tab_onde_bg.png');
}
.dashboard #OndeQuandoTabs li.tab2 {
    background-image: url('../images/tab_como_bg.png');
}
.dashboard #OndeQuandoTabs button {
    background: transparent;
    border: none;
}
.dashboard #OndeQuandoTabs button.active {
    background-color: var(--cor-cinza-escuro);
    margin-top: 10px;
    max-height: 70px;
}
.dashboard #OndeQuandoTabs ul li button.active p {
    margin-top: 0 !important;
}
.dashboard #OndeQuandoTabs ul li button p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.005em;
    text-align: left;
    z-index: 3;
    position: relative;
}
.dashboard #OndeQuandoTabs ul li button:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url('../images/tab_check.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    right: 16px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.dashboard #OndeQuandoTabs .tab-content {
    background-color: var(--cor-cinza-escuro);
}
.dashboard #OndeQuandoTabs .tab-content p, #OwlHistorico .tab-content p {
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.005em;
    text-align: center;
}
a.vertodos {
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.005em;
    text-align: center;
}
.dashboard #OndeQuandoTabs .tab-content input {
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.005em;
    color: var(--cor-cinza);
    outline: 0;
}
.dashboard #OndeQuandoTabs button.active:after {
    content:"";
    position: absolute;
    width: 100%;
    height: 85%;
    background-color: var(--cor-cinza-escuro);
    left: 0;
    bottom: 0;
    z-index: 2;
}
.encerrado {
    background-color: #C4C4C4;
}
.encerrado span {
    color: var(--cor-cinza-escuro) !important;
}
#OwlEnquetes .calendario{
    max-width: 32px;
}
.CardBGOverlayColor {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
}
#OwlEnquetes h1, #OwlRecompensas h1, #OwlVantagens h1, #OwlHistorico h1, .vantagenslista h1, .recompensas h1{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.005em;
    color: var(--cor-branco);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 5px;
}

.ImgCircleBox {
    width: 68.86px;
    height: 68.86px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-vantagem {
    width: 100%;
    height: 220px;
    background-image: url('../images/fundo_vantagens.png');
    opacity: 0.3;
    position: absolute;
    left: 0;
    margin-top: -10px;
}

.bg-noticias {
    width: 100%;
    height: 246px;
    background-image: url('../images/fundo_vantagens.png');
    opacity: 0.3;
    position: absolute;
    left: 0;
    margin-top: -20px;
}


#OwlEnquetes p, #OwlRecompensas p, #OwlVantagens p, #OwlHistorico p, .vantagenslista p, .recompensas p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.005em;
    color: #C4C4C4;
}
#OwlEnquetes span, #OwlRecompensas span, #OwlVantagens span, #OwlHistorico span, .vantagenslista span, .recompensas span {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: -0.005em;
    color: var(--cor-branco);
    padding-top: 5px;
}
#OwlEnquetes .Info, #OwlRecompensas .Info, #OwlVantagens .Info, #OwlHistorico .Info, .vantagenslista .Info, .recompensas .Info{
    position: absolute;
    bottom: 0;
}
#OwlCategorias p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 11px;
    text-align: center;
    letter-spacing: -0.005em;
}
#OwlCategorias.aftercat:before {
    content: "";
    position: absolute;
    background-image: url('../images/bg_pixels.png');
    background-size: cover;
    width: 100%;
    transform: scale(1.2);
    height: 100%;
    bottom: -37%;
    opacity: 0.3;
}
#OwlCategorias.owl-carousel .owl-item .rounded-circle  {
    width: 64px;
    height: 64px;
}
#OwlCategorias.owl-carousel .owl-item .rounded-circle > div {
    background-size: cover;
    background-position: center;
}
#OwlCategorias .rounded-circle {
    position: relative;
}
#OwlCategorias .item .ItemOverlay {
    width: 100%;
    height: 100%;
    background-color: var(--cor-preto);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}
#OwlCategorias .item .ItemOverlay span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 9px;
    text-align: center;
    letter-spacing: -0.005em;
    color: var(--cor-cinza);
}
.owl-slider h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: var(--cor-cinza);
}
.owl-slider .textescolha {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.005em;
    color: var(--cor-cinza);
}
#OwlVantagens .Info .quanty span, #OwlRecompensas .Info .quanty span, #OwlHistorico span, .vantagenslista span, .recompensas span{
    z-index: 1;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.005em;
    display: block;
}
#OwlVantagens .Info.congelado .quanty span, #OwlRecompensas .Info.congelado .quanty span, #OwlHistorico .Info.congelado .quanty span, .vantagenslista .Info.congelado .quanty span, .recompensas .Info.congelado .quanty span {
    color: var(--cor-preto);
    opacity: 0.5;
}
#OwlVantagens .Info.congelado .text span, #OwlRecompensas .Info.congelado .text span, #OwlHistorico .Info.congelado .text span, .vantagenslista .Info.congelado .text span, .recompensas .Info.congelado .text span{
    color: var(--cor-preto) !important;
}
#OwlVantagens .Info .circle, #OwlRecompensas .Info .circle, #OwlHistorico .Info .circle {
    width: 66px;
    height: 66px;
    position: absolute;
    background-color: var(--cor-branco);
    border-radius: 200px;
    bottom: -8px;
    left: -8px;
}
.vantagenslista .Info .circle {
    width: 66px;
    height: 66px;
    position: absolute;
    background-color: var(--cor-branco);
    border-radius: 200px;
    bottom: -8px;
    left: -9px;
}
#OwlEnquetes .owl-item, #OwlRecompensas .owl-item, #OwlVantagens .owl-item, #OwlHistorico .owl-item, .vantagenslista .owl-item {
    border-radius: 8px;
    overflow: hidden;
}
.vantagenslista, .recompensas {
    border-radius: 8px;
    overflow: hidden;
}
#OwlVantagens .quanty, #OwlRecompensas .quanty, #OwlHistorico .quanty, .vantagenslista .quanty, .recompensas .quanty{
    padding-bottom: 10px;
    padding-left: 6px;
}
#OwlVantagens span.text-black, #OwlRecompensas span.text-black, #OwlHistorico span.text-black, .vantagenslista span.text-black, .recompensas span.text-black{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: -0.005em;
    padding-top: 2px;
}
.vantagenslista span.text-black, .recompensas span.text-black{
    text-align: left;
    margin-left: 15px;
    font-weight: 600;
}
.vantagenslista span.text-black strong, .recompensas span.text-black strong {
    width: 100%;
    display: block;
    font-weight: 600;
}
#Cat h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #969696;
}
/* User Menu Header */
#EditUserMenu .headerBGUsers {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    left: 0;
    top: 0;
}
/* Editar nome de usuário */
#editarnome p.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.005em;
    color: #969696;
}
/* Editar Perfil */
.editarperfil a {
    text-decoration: none;
    color: var(--cor-cinza);
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: -0.005em;
}
.editarperfil .mais {
    width: 23px;
    height: 23px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
/* Configurações */
.configuracoes a {
    text-decoration: none;
    color: var(--cor-cinza);
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: -0.005em;
}
.configuracoes .mais {
    width: 23px;
    height: 23px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.configuracoes .idioma {
    font-size: 13px;
    text-align: right;
    flex: 1;
}
/* Fale Conosco */
.faleconosco .input {
    border-radius: 8px;
    overflow: hidden;
    padding: 4px 8px;
}
.faleconosco .concluido {
    background-color: var(--cor-verde);
}
.faleconosco .andamento {
    background-color:var(--cor-azul);
}
.faleconosco .cancelado {
    background-color:var(--cor-vermelho);
}
.faleconosco .box {
    background-color: var(--cor-cinza-medio);
}
.faleconosco p {
    font-style: normal;
    font-weight: 400;
    font-size: 15.8942px;
    line-height: 17px;
    letter-spacing: -0.005em;
    margin: 2px 0;
}
.faleconosco .InfoStatus .data{
    font-style: normal;
    font-weight: 700;
    font-size: 12.2263px;
    line-height: 13px;
    letter-spacing: -0.005em;
}
.faleconosco .InfoStatus .status {
    font-style: normal;
    font-weight: 700;
    font-size: 13.4489px;
    line-height: 15px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
/* Chamado */
.chamado .input {
    border-radius: 8px;
    overflow: hidden;
    padding: 4px 8px;
}
.chamado .concluido {
    background-color: var(--cor-verde);
}
.chamado .andamento {
    background-color:var(--cor-azul);
}
.chamado .cancelado {
    background-color:var(--cor-vermelho);
}
.chamado .box {
    background-color: var(--cor-cinza-medio);
}
.chamado .InfoStatus .data{
    font-style: normal;
    font-weight: 700;
    font-size: 12.2263px;
    line-height: 13px;
    letter-spacing: -0.005em;
}
.chamado .InfoStatus .status {
    font-style: normal;
    font-weight: 700;
    font-size: 13.4489px;
    line-height: 15px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.chamado textarea {
    padding-top: 10px;
    text-align: left;
    border: none;
    color: var(--cor-cinza);
    background-color: transparent;
}
.chamado .info h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.005em;
}
.chamado .info p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.chat-box .sender .time {
    text-align: right;
}
.chat-box .sender .box {
    background: #202020 !important;
    letter-spacing: 1px;
}
.chat-box .reciever .box {
    letter-spacing: 1px;
}
/* Perguntas Frequentes */
.perguntasfrequentes .accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: transparent !important;
    color: #fff;
}
.perguntasfrequentes .active, .perguntasfrequentes .accordion:hover {
    background-color: #ccc;
}
.perguntasfrequentes .panel {
    overflow: hidden;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -0.005em;
    opacity: 0;
    height: 0;
    transition: opacity .5s;
}
.perguntasfrequentes .active .panel {
    opacity: 1;
    height: auto;
    transition: opacity .8s;
}
.accordion h6 {
    position: relative;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.005em;
    color: #969696;
}
.accordion h6:after {
    content: "";
    background-image: url('../images/icon_mais.png');
    position: absolute;
    width: 23px;
    height: 23px;
    right: 0;
    transition: .5s;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.accordion.active h6:after {
    background-image: url('../images/icon_menos.png');
    transition: .5s;
}
/* Perguntas Frequentes */
.detalhesdoperfil h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.005em;
    margin: 0;
    padding: 0;
}
.detalhesdoperfil h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.005em;
    margin: 0;
    padding: 0;
}
/* Enquetes - lista */
.enqueteslista {
}
.enqueteslista .circle {
    width: 66px;
    height: 66px;
    position: absolute;
    background-color: var(--cor-branco);
    border-radius: 200px;
    bottom: -8px;
    left: -9px;
}
.enqueteslista .circle span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.005em;
    color: #000;
    text-align: center;
    display: block;
}
.enqueteslista .headerBG {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    left: 0;
    top: 0;
    background-image: url('../images/enquetes_lista_header.png');
}
.enqueteslista h4 {
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 32.1081px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.005em;
}
.enqueteslista h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.005em;
    color: var(--cor-branco);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.enqueteslista .calendario {
    max-width: 32px;
}
.enqueteslista span {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: -0.005em;
    color: var(--cor-branco);
    padding-top: 5px;
}
.enqueteslista .Info {
    position: absolute;
    bottom: 0;
}
.enqueteslista .box {
    background-color: #303030;
    min-height: 152px 
}
.enqueteslista h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #969696;
}
.enquetedetalhes .headerBG {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    left: 0;
    top: 0;
    background: var(--linear-gradient2);
}
.enquetedetalhes .avatar {
    width: 102px;
    height: 102px;
}
.enquetedetalhes .avatar img{
    max-width: 102px;
    max-height: 102px;
    position: absolute;
    bottom: -70px;
    border: 8px solid var(--cor-cinza-medio);
    border-radius: 200px;
}
.enquetedetalhes h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.005em;
}
.enquetedetalhes h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.005em;
}
.enquetedetalhes p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.005em;
}
.enquetedetalhes .btn-data {
    background-color: var(--cor-azul);
    border-radius: 10px;
}
.enquetedetalhes .btn-token {
    background-color: var(--cor-violeta);
    border-radius: 10px;
}
.enquetedetalhes .btn-votado {
    background-color: transparent;
    border: 2px solid var(--cor-verde);
    border-radius: 10px;
}
.enquetedetalhes .data , .enquetedetalhes .tokens, .enquetedetalhes .votado {
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.005em;
    margin-top: 4px;
    font-size: 13px;
    text-align: center;
}
.enquetedetalhes .lifequanty {
    position: absolute;
    content: "";
    width: 73px;
    height: 73px;
    background-color: red;
    bottom: -115px;
    right: -20px;
    border: 4px solid var(--cor-cinza-escuro);
    border-radius: 200px;
    padding: 0;
    margin: 0;
}
.enquetedetalhes .lifequanty span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.enquetedetalhes .votelist p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.005em;
    color: var(--cor-branco);
    text-align: left;
}

.enquetedetalhes .votelist .foto {
    max-width: 110px;
    max-height: 58px;
    width: 100vh;
    height: 100vh;
    background-color: #202020;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 0px;
    background-image: url('../images/not_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.enquetedetalhes .votelist .box {
    border-right: 10px solid;
}
.enquetedetalhes .votelist .box input[type="checkbox"]:before {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--cor-cinza-escuro);
    border: 1px solid #4c4c4c;
    border-radius: 2px;
}
.enquetedetalhes .votelist .box input[type="checkbox"]:after {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 2px;
}
.enquetedetalhes .votelist .box input[type="checkbox"]:checked:after {
    background: var(--cor-cinza-escuro);
    background-image: url('../images/checked_gre.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.enquetedetalhes .votelist .box input[type="checkbox"]:disabled:after {
    -webkit-filter: opacity(0.4);
}
.enquetedetalhes .votos h1 {
    text-align: left;
}
#VotoGrafico .title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
#VotoGrafico .description {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
#VotoGrafico .highcharts-credits {
    display: none !important;
}
#VotoGrafico .highcharts-background {
    fill: transparent;
}
#VotoGrafico .highcharts-point {
    stroke: #000;
    stroke-width: 8px;
}
#VotoGrafico .highcharts-label.highcharts-data-label text, 
#VotoGrafico .highcharts-label.highcharts-data-label text tspan 
{
    fill: #fff !important;
    stroke: none !important;
    color: #fff !important;
    background: #fff !important;
    font-weight: normal !important;
}
/* Escolas */
.escolas .headerBG {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    left: 0;
    top: 0;
    background-image: url('../images/escolas_bg_header.png');
}
.escolas h4 {
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 32.1081px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.005em;
}
.escoladetalhe .avatar {
    width: 135px;
    height: 135px;
}
.escoladetalhe .avatar img{
    max-width: 135px;
    max-height: 135px;
    position: absolute;
    bottom: 30px;
    border: 8px solid var(--cor-cinza-medio);
    border-radius: 200px;
}
.escoladetalhe .headerBG {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    height: 249px;
    left: 0;
    top: 0;
    background-image: url('../images/escola_header_bg.png');
}
.escoladetalhe h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.005em;
    min-height: 66px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.escoladetalhe .botoes button{
    background-color: var(--cor-cinza);
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.005em;
    position: relative;
    min-height: 40px;
    border-radius: 8px;
}
.escoladetalhe .botoes button.favoritar img {
    max-width: 22px;
}
.escoladetalhe .botoes button.notificar img {
    max-width: 18px;
}
.escoladetalhe p {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.005em;
    font-size: 13px;
}
/* Notícias*/
.noticias {
}
.noticias h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.005em;
    color: var(--cor-branco);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.noticias .thumb {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 152px;
    position: relative;
}
.noticias .thumb .title {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
/* Meus Lifes */
.meuslifes .title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: var(--cor-cinza);
}
.lifesmoeda {
    position: absolute;
    right: 0;
    min-height: 193px;
}
/* Favoritos */
.favoritos .headerBG {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    left: 0;
    top: 0;
    background-image: url('../images/enquetes_lista_header.png');
}
.favoritos h4 {
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 32.1081px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.005em;
}
/* Notificações */
.notificacoes {
}
.notificacoes button {
}
.notificacoes .content {
    background-color: var(--cor-cinza-medio);
    border-radius: 8px;
}
.notificacoes .btn-BtnClose {
    right: 15px;
    top: 15px;
}
.notificacoes .content h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: -0.005em;
    margin: 0;
    padding-right: 15px;
}
.notificacoes .content span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.005em;
    margin: 0;
}
.notificacoes .content p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.005em;
    margin: 0;
}
.notificacoes .tkcongelados {
    background-color: #00E584;
    position: relative;
}
.notificacoes .tkcongelados h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;
}
.notificacoes .tkcongelados h1 span{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;
    margin-right: 5px;
}
.notificacoes .tkcongelados h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: -0.005em;
}
.notificacoes .lifecoin {
    position: absolute;
    right: 0;
}
/* Vantagens */
.vantagenslista h4 {
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 32.1081px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.005em;
}
.vantagenslista h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #969696;
}
.vantagemdetalhes .headerBG {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    left: 0;
    top: 0;
    background: var(--linear-gradient2);
    background-size: cover;
}
.vantagemdetalhes .avatar {
    width: 102px;
    height: 102px;
}
.vantagemdetalhes .avatar img {
    max-width: 102px;
    max-height: 102px;
    position: absolute;
    bottom: -70px;
    border: 8px solid #1c1c1c;
    border-radius: 200px;
}
.vantagemdetalhes .lifequanty {
    position: absolute;
    content: "";
    width: 73px;
    height: 73px;
    background-color: red;
    bottom: -115px;
    right: -20px;
    border: 4px solid var(--cor-cinza-escuro);
    border-radius: 200px;
    padding: 0;
    margin: 0;
}
.vantagemdetalhes .lifequanty span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.vantagemdetalhes .btn-data {
    background-color: var(--cor-azul);
    border-radius: 10px;
}
.vantagemdetalhes .btn-token {
    background-color: var(--cor-violeta);
    border-radius: 10px;
}
.vantagemdetalhes h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.005em;
}
.vantagemdetalhes p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.005em;
}
.vantagemdetalhes .data, .vantagemdetalhes .tokens, .vantagemdetalhes .votado {
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.005em;
    margin-top: 4px;
    font-size: 13px;
    text-align: center;
}
.vantagemdetalhes a {
    text-decoration: none;
}
.vantagemdetalhes .btn-votado {
    background-color: transparent;
    border: 2px solid var(--cor-verde);
    border-radius: 10px;
}
.vantagemdetalhes .btn-disponiveis {
    background: var(--linear-gradient2);
    border-radius: 10px;
}
/* Recompensas */
.recompensas .headerBG {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    left: 0;
    top: 0;
    background-image: url('../images/recompensa_lista.png');
}
.recompensas h4 {
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 32.1081px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.005em;
}
.recompensas .Info .circle {
    width: 66px;
    height: 66px;
    position: absolute;
    background-color: var(--cor-branco);
    border-radius: 200px;
    bottom: -8px;
    left: -9px;
}
.recompensas span.text-white {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: -0.005em;
    color: var(--cor-branco);
    padding-top: 5px;
}
.recompensas h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #969696;
}
.recompensas .Overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
}
.recompensadetalhe .headerBG {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    left: 0;
    top: 0;
    background: var(--linear-gradient2);
    background-size: cover;
}
.recompensadetalhe .avatar {
    width: 102px;
    height: 102px;
}
.recompensadetalhe .avatar img {
    max-width: 102px;
    max-height: 102px;
    position: absolute;
    bottom: -70px;
    border: 8px solid #1c1c1c;
    border-radius: 200px;
}
.recompensadetalhe .lifequanty {
    position: absolute;
    content: "";
    width: 47px;
    height: 47px;
    background-color: red;
    bottom: -82px;
    right: -12px;
    border: 3px solid var(--cor-cinza-escuro);
    border-radius: 200px;
}
.recompensadetalhe .lifequanty span {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.recompensadetalhe .btn-data {
    background-color: var(--cor-azul);
    border-radius: 10px;
}
.recompensadetalhe .btn-token {
    background-color: var(--cor-cinza);
    border-radius: 10px;
}


.recompensadetalhe .fixedBTN {
    width: 100%;
    position: fixed;
    z-index: 99999999;
    bottom: 0;
    background: var(--cor-preto);
    left: 0;
    padding: 15px 25px;
}


.recompensadetalhe h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.005em;
}
.recompensadetalhe p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.005em;
}
.recompensadetalhe .data, .recompensadetalhe .tokens, .recompensadetalhe .votado {
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.005em;
    margin-top: 4px;
    font-size: 12px;
    text-align: center;
}
.recompensadetalhe a {
    text-decoration: none;
}
.recompensadetalhe .btn-votado {
    background-color: transparent;
    border: 2px solid var(--cor-verde);
    border-radius: 10px;
}
.recompensadetalhe .btn-disponiveis {
    background: var(--linear-gradient2);
    border-radius: 10px;
}
.recompensadetalhe .lifequanty {
    background: var(--linear-gradient2);
}
.recompensadetalhe .Overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
}
.dashboard.recompensadetalhe #OndeQuandoTabs ul li button p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: -0.005em;
    text-align: left;
    z-index: 3;
    position: relative;
}
.recompensadetalhe .ranking .content {
    background-color: #c4c4c47a;
    background-image: url('../images/ranking_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 8px;
    overflow: hidden;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    text-align: right;
    letter-spacing: -0.005em;
}
.recompensadetalhe .ranking .content.primeirolugar {
    background-image: url('../images/ranking_bg_primeirolugar.png');
}
.recompensadetalhe .ranking .content .useravatar{
    width: 25px;
    height: 25px;
    border-radius: 200px;
    background-color: var(--cor-branco);
}
.recompensadetalhe .ranking .allcontent{
    border-radius: 8px;
}
.ranking, .ranking-por-partifipacao {
    z-index: 2;
}
#TAB1 .bgcolor, #TAB2 .bgcolor {
    width: 100%;
    height: 318px;
    position: absolute;
    left: 0;
    z-index: 1;
}
#TAB1 .bgcolor {
    background-color: var(--cor-violeta);
}
#TAB2 .bgcolor {
    background-color: var(--cor-verde);
}
.dashboard.recompensadetalhe #OndeQuandoTabs button#tab-1.active:after {
    background-color: var(--cor-violeta);
}
.dashboard.recompensadetalhe #OndeQuandoTabs button#tab-2.active:after {
    background-color: var(--cor-verde);
}
















/* Colecionáveis */
.colecionaveis {
    position: relative;
}

.NftGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardNFT {
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--cor-preto);
}

.NFTfooter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 122px;
    position: relative;
    margin-top: -26px;
}

.NFTfooter .content  {
    position: absolute;
    bottom: 4px;
}

.NFTfooter h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.005em;
    left: 15px;
}

.NFTfooter p {
    margin: 0;
    display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
}




















/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
    body:after {
        content:"";
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
        background-image: url('../images/bg-black-life-token.png');
        background-size: cover;
        background-repeat: no-repeat;
   }
    body.home:after {
    display: none;
    }
    .bg-simbolo:after {
        content:"";
        position: absolute;
        width: 100%;
        max-height: 34vh;
        height: 100vh;
        background-image: url('../images/bg-icone-life-token.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        bottom: 0;
        left: 0;
        z-index: 1;
   }
   
    .container{
        width: 90%;
        max-width: 90%;
        padding-top: 30px;
        padding-bottom: 30px;
   }
    .modal-dialog {
        width: 100vh;
        max-width: 85%;
   }
}
